<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <form action="/show"method="POST" >
        <label>nome:</label>
        <input type="text" name="name" placeholder="digite seu nome aqui">
        <input type="email" name="email" placeholder="digite seu email">
        <button type="submit">enviar</button>
    </form>
</body>

</html>