<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <form action="/show"method="POST" >
        <label>nome:</label>
        <input type="text" name="nome" placeholder="digite seu nome aqui">
        <input type="email" name="email" placeholder="digite seu email">
        <input type="submit" name="enviar" value="Enviar">
    </form>
</body>

</html>